.master-wrapper-page {
    max-width: 1240px;
    /*margin: 35px auto;*/
    margin: 0 auto;
    padding: 0 20px;
    background-color: #fff;
    /*border-radius: 5px;*/
}
.google-search {
    text-align: left;
    max-width: 300px;
}
.google-search  #table1, .google-search  #table1 td {
    border: none;
}
.google-search .gsc-control-cse {
    padding: 0;
}
.google-search .gsc-tabsArea > div {
    overflow: hidden;
}
.google-search .gsc-tabsArea > .gsc-tabHeader {
    height: 29px;
    padding: 0 20px;
}
.google-search .gsib_a {
    padding-top: 2px;
    padding-bottom: 0;      
}
.google-search #gs_st50 {    
    width: 28px;
}
.google-search .gsc-search-button-v2 {
    width: 67px;
    height: 27px;
    margin-top: 3px;
}
.cage-number {
    margin: 0 0 10px;
    text-align: left;
    color: #000;
    font-weight: bold;
    font-size: 13px;
}
.header-menu {
    background-color: #66ccff;
    border-radius: 5px;
}
.header-menu > ul > li > a {
    /*text-transform: uppercase;*/
}
.master-wrapper-content .block .list a {
    padding: 2px 0;
    font-size: 11px;
}
.block-category-navigation .title {
    background-color: #66ccff !important;
    border-radius: 5px 5px 0 0;
}
.block-category-navigation .listbox {
    background-color: #eef9ff !important;
}
.item-box {
    padding: 20px 1px;
    border: 1px solid #e2e2e2;
    width: 175px;
    height: 140px;
}
.home-page-category-grid .category-item .picture, .sub-category-grid .category-item .picture {
    width: 90px;
    margin: 10px auto;
}
.category-page .item-box .picture, .product-details-page .item-box .picture, .product-tag-page .item-box .picture {
    /*width: 90px;*/
    width: 120px;
    margin: 0 auto;   
    max-height: 100px;
}
.item-box .category-item .picture a img {
    /*width: 90px;
    height: 60px;*/
    margin: 0 auto;
}
.item-box .product-item .picture a img {
    margin: 0 auto;
}
.product-grid .item-box {
    /*height: 230px;*/
    height: 255px;
}
.item-box .buttons {
    text-align: center !important;
}
.item-box .product-box-add-to-cart-button {
    width: auto !important;
    height: auto !important;    
    border-radius: 3px;        
    padding: 6px 10px;
    text-transform: none !important;    
    font-size: 12px !important;
}
.product-list .item-box {
    height: 145px;
}
.product-list .item-box .picture a::before {
    /*padding-top: 28%;*/
}
.product-list .item-box .details {
    text-align: left;
}
.product-list .item-box .details .buttons {
    text-align: left !important;
}
.product-list .item-grid .item-box .prices {
    margin-bottom: 10px;
}
.product-list .item-grid .item-box .product-box-add-to-cart-button {
    padding: 6px 10px;
}
.product-list .item-grid .item-box .product-title {
    padding: 0;
    min-height: unset;
    font-size: 14px;
}
.product-list .item-grid .item-box .description {
    font-size: 12px;
    margin-bottom: 5px;
}
.category-page .add-to-compare-list-button, .category-page .add-to-wishlist-button, 
.product-tag-page .add-to-compare-list-button, .product-tag-page .add-to-wishlist-button,
.product-details-page .add-to-compare-list-button, .product-details-page .add-to-wishlist-button {
    display: none !important;
}
.category-page .product-item .actual-price {
    margin-right: 0;
}
.category-page .admin-comment, .product-tag-page .admin-comment {
    font-size: 12px;
    color: #000;
}
.breadcrumb {
    text-transform: uppercase;
    padding-left: 0 !important;
    color: #000;
}
.breadcrumb li > span, .breadcrumb li span a {
    margin: 0;
}
.breadcrumb li:first-child span a span {
    margin-left: 0;
}
.product-details-page .gallery .picture::before {
    padding-top: 75%;
}
.product-details-page .overview {
    margin: 0;
    padding: 10px;
    border: 1px solid #EEEEEE;
}
.product-details-page .admin-comment {
}
.product-details-page .manufacturer-part-number, .product-details-page .manufacturer-part-number .value {
    color: #0000FF;
    font-weight: bold;
    font-size: 13px;
}
.product-details-page .availability .stock, .product-details-page .availability .stock .value {
    font-size: 16px;
    font-weight: bold;
    color: #5C5B5B;
}
.product-details-page .availability .stock .label {
    display: block;
}
.product-details-page .prices .product-price span {
    color: #B80709;
    font-size: 13px;
}
.product-details-page #AdminCommentput {
    color: #0000FF;
}
.product-details-page .shipping, .product-details-page .shipping-each-additional-unit {
    color: #B80709;
    font-size: 13px;
    font-weight: bold;
}
.product-details-page .overview .short-description {
    font-size: 11px;
}
#AdminCommentget {
    display: none;
}
.mini-shopping-cart .product .name a {
    font-size: 12px;
}

.footer {
    margin: 0 -20px;
    border-radius: 0 0 5px 5px;
}

@media all and (max-width: 1370px) {
    .master-wrapper-content .block .list a {
        font-size: 10px;
    }
    .home-page-category-grid .category-item .picture, .sub-category-grid .category-item .picture {
        width: 84px;
    }
    .category-page .item-box .picture, .product-details-page .item-box .picture, .product-tag-page .item-box .picture {
        width: 90px;
    }   
    .product-grid .item-box { 
        height: 230px;
    }
}

@media all and (max-width: 1000px) {
    .cage-number {        
        text-align: center;
    }    
}

@media all and (max-width: 768px) {
    .home-page-category-grid .picture a:before, .sub-category-grid .picture a:before {
        /*padding-top: 30% !important;*/
    }
    .product-grid .item-box .picture a::before {
        /*padding-top: 22% !important;*/
    }
    .product-list .item-box {
        height: 205px;
    }
    .product-list .item-box .picture a::before {
        /*padding-top: 23%;*/
    }
    .product-list .item-box .details {
        text-align: center;
    }
    .product-list .item-box .details .buttons {
        text-align: center !important;
    }    
}

@media all and (max-width: 675px) {
    .home-page-category-grid .picture a:before, .sub-category-grid .picture a:before {
        /*padding-top: 40% !important;*/
    }
}

@media all and (max-width: 480px) {
    .home-page-category-grid .picture a:before, .sub-category-grid .picture a:before {
        /*padding-top: 25% !important;*/
    }
    .product-grid .item-box {
        height: 255px;
    }
    .category-page .item-box .picture {
        width: 120px;
    }
}

@media all and (max-width: 380px) {
    .home-page-category-grid .picture a:before, .sub-category-grid .picture a:before {
        /*padding-top: 35% !important;*/
    }
    .product-grid .item-box .picture a::before {
        /*padding-top: 27% !important;*/
    }
}

@media all and (min-width: 769px) {
    .item-box:nth-child(2n+1) {
        clear: none!important;
    }
    .category-page .item-box .details {
        /*margin-top: -8px;*/
        margin-top: 5px;
    }
}
